/************************************
  VARIABLES & BASE
*************************************/
* {
  font-family: "Raleway", sans-serif;
}

:root {
  --main-color: #0065fc;
  --main-bg-color: #f2f2f2;
  --filter-bg-color: #deebff;
}

a {
  color: inherit;
  text-decoration: none;
}

.fa-solid {
  color: var(--main-color);
}

.section-title {
  margin: 20px 0 40px 0;
  font-size: 22px;
}

/************************************
  LAYOUT GLOBAL
*************************************/
.main-container {
  width: 100%;
  max-width: 1440px;
  padding: 0 50px;
  margin: 0 auto;
  box-sizing: border-box;
}

/************************************
  NAVIGATION
*************************************/
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0px;
}

nav img {
  height: 20px;
}

nav ul {
  display: flex;
  gap: 20px;
  list-style: none;
}

nav li {
  border-top: 3px solid transparent;
  padding-top: 10px;
}

nav li:hover {
  border-top-color: var(--main-color);
  color: var(--main-color);
}

/*****************************************
  HEADER / BARRE DE RECHERCHE / FILTRES
******************************************/
header {
  margin-top: 30px;
}

.search-form {
  margin-top: 30px;
}

.search-bar {
  display: flex;
  align-items: center;
  width: fit-content;
  border: 1px solid var(--main-bg-color);
  border-radius: 15px;
  overflow: hidden;
  background: white;
}

.search-icon {
  background-color: var(--main-bg-color);
  padding: 12px 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-location {
  color: black;
  font-size: 16px;
}

.search-bar input {
  border: none;
  outline: none;
  background: none;
  padding: 12px 15px;
  font-size: 16px;
}

.btn-search {
  background-color: var(--main-color);
  color: white;
  border: none;
  padding: 12px 20px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
}

/******* FILTRES ********/
.filters {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-top: 30px;
  margin-bottom: 20px;
}
.filters-title {
  font-size: 18px;
  font-weight: 700;
}
.filters-buttons {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.filter-btn {
  display: flex;
  align-items: center;
  gap: 10px;
  background: white;
  border: 2px solid #d9d9d9;
  border-radius: 25px;
  padding: 10px 20px;
  font-weight: 700;
  font-size: 16px;
  cursor: pointer;
}

.filter-btn i {
  color: var(--main-color);
  font-size: 18px;
}
.filter-btn:hover {
  background: var(--filter-bg-color);
}
header p {
  margin-bottom: 25px;
}
header .fa-info {
  margin-right: 10px;
  border: 2px solid var(--main-bg-color);
  border-radius: 50%;
  padding: 5px 10px;
}

/************************************
  CARTES (STYLE GÉNÉRAL)
*************************************/
.card {
  background-color: white;
  border-radius: 20px;
  padding: 5px;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
}

.card img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.card-title {
  font-size: 16px;
  margin: 0;
}

.euro {
  font-weight: 700;
}

.neutral-star {
  color: var(--main-bg-color);
}

/************************************
  HÉBERGEMENTS & POPULAIRES
*************************************/
.hebergements-and-populaires {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-bottom: 40px;
}

.hebergements-and-populaires section {
  background-color: var(--main-bg-color);
  border-radius: 20px;
  padding: 30px;
  box-sizing: border-box;
}

/******** HÉBERGEMENTS ********/
.hebergements {
  width: 65%;
}

.hebergements-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.hebergements-cards .card {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.hebergements-cards .card img {
  height: 200px;
  border-radius: 20px 20px 0 0;
}
.show-more {
  background: transparent;
  border: none;
  font-weight: 700;
  font-size: 18px;
  color: #000;
  cursor: pointer;
  padding: 10px 0;
  margin-top: 30px;
  text-align: left;
}
/******** POPULAIRES ********/
.populaires {
  width: 32%;
}

.populaires-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.populaires-cards .card {
  display: flex;
  margin-top: 33px;
}

.populaires-cards img {
  width: 33%;
  height: 136px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
  width: 67%;
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.populaires-cards .card-title {
  margin-top: 10px;
  margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
  margin: 0;
}

.populaires-cards .card-rating {
  margin-bottom: 5px;
}

/************************************
  ACTIVITÉS
*************************************/
.activites {
  display: flex;
  flex-direction: column;
  margin: 0 20px 0 20px;
}
.activites-cards {
  display: flex;
  gap: 20px;
  align-items: stretch;
}

.activites-cards .card {
  flex: 1 1 0;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  overflow: hidden;
  box-sizing: border-box;
  padding: 0;
}

.activites-cards .card img {
  width: 100%;
  height: 400px;
  object-fit: cover;
  display: block;
  border-radius: 20px 20px 0 0;
}
.activites-cards .card .card-content {
  padding: 20px;
}

/************************************
  FOOTER
*************************************/
.footer {
  display: flex;
  width: 100%;
  margin-top: 40px;
  justify-content: space-between;
  background-color: var(--main-bg-color);
}

.footer-column {
  flex: 1;
  padding: 10px 30px;
  box-sizing: border-box;
}

.footer-column ul {
  list-style: none;
  padding: 0;
}

.footer-column li {
  margin-bottom: 10px;
}

.footer-column a {
  color: #333;
}

.footer-column a:hover {
  text-decoration: underline;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
  .hebergements-and-populaires {
    flex-direction: column;
  }

  .hebergements {
    width: 100%;
  }

  .populaires {
    width: 100%;
    margin-top: 50px;
  }

  .populaires-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .populaires-cards a {
    width: 30%;
  }

  .populaires-cards .card-title {
    font-size: 14px;
  }

  .populaires-cards .card-subtitle {
    font-size: 13px;
  }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
  /* ... */
}
