/************************************
  VARIABLES & BASE
*************************************/
* {
  font-family: "Raleway", sans-serif;
}

:root {
  --main-color: #0065fc;
  --main-bg-color: #f2f2f2;
  --filter-bg-color: #deebff;
}

a {
  color: inherit;
  text-decoration: none;
}

.fa-solid {
  color: var(--main-color);
}

.section-title {
  margin: 20px 0 30px 0;
  font-size: 22px;
}

/************************************
  LAYOUT GLOBAL
*************************************/
body {
  margin: 0;
}

.main-container {
  width: 100%;
  max-width: 1440px;
  min-width: 320px;
  padding: 0 50px;
  margin: 0 auto;
  box-sizing: border-box;
}

/************************************
  NAVIGATION
*************************************/
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0px;
}

nav img {
  height: 20px;
}

nav ul {
  display: flex;
  gap: 20px;
  list-style: none;
}

nav li {
  border-top: 3px solid transparent;
  padding-top: 10px;
}

nav li:hover {
  border-top-color: var(--main-color);
  color: var(--main-color);
}

/*****************************************
  HEADER / BARRE DE RECHERCHE / FILTRES
******************************************/
header {
  margin-top: 30px;
}

.search-form {
  margin-top: 30px;
}

.search-bar {
  display: flex;
  align-items: center;
  width: fit-content;
  border: 1px solid var(--main-bg-color);
  border-radius: 15px;
  overflow: hidden;
  background: white;
}

.search-icon {
  background-color: var(--main-bg-color);
  padding: 12px 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-location {
  color: black;
  font-size: 16px;
}

.search-bar input {
  border: none;
  outline: none;
  background: none;
  padding: 12px 15px;
  font-size: 16px;
}

.btn-search {
  background-color: var(--main-color);
  color: white;
  border: none;
  padding: 12px 20px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
}

/******* FILTRES ********/
.filters {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-top: 30px;
  margin-bottom: 20px;
}
.filters-title {
  font-size: 18px;
  font-weight: 700;
}
.filters-buttons {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.filter-btn {
  display: flex;
  align-items: center;
  gap: 10px;
  background: white;
  border: 2px solid #d9d9d9;
  border-radius: 25px;
  padding: 10px 20px;
  font-weight: 700;
  font-size: 16px;
  cursor: pointer;
}

.filter-btn i {
  color: var(--main-color);
  font-size: 18px;
}
.filter-btn:hover {
  background: var(--filter-bg-color);
}
header p {
  margin-bottom: 25px;
}
header .fa-info {
  margin-right: 10px;
  border: 2px solid var(--main-bg-color);
  border-radius: 50%;
  padding: 5px 10px;
}

/************************************
  CARTES (STYLE GÉNÉRAL)
*************************************/
.card {
  background-color: white;
  border-radius: 20px;
  padding: 5px;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
}

.card img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.card-title {
  font-size: 16px;
  margin: 0;
}

.euro {
  font-weight: 700;
}

.neutral-star {
  color: var(--main-bg-color);
}

/************************************
  HÉBERGEMENTS & POPULAIRES
*************************************/
.hebergements-and-populaires {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-bottom: 40px;
}

.hebergements-and-populaires section {
  background-color: var(--main-bg-color);
  border-radius: 20px;
  padding: 30px;
  box-sizing: border-box;
}

/******** HÉBERGEMENTS ********/
.hebergements {
  width: 65%;
}

.hebergements-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.hebergements-cards .card {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.hebergements-cards .card img {
  height: 200px;
  border-radius: 17px 17px 0 0;
}
.show-more {
  background: transparent;
  border: none;
  font-weight: 700;
  font-size: 18px;
  color: #000;
  cursor: pointer;
  padding: 10px 0;
  margin-top: 30px;
  text-align: left;
}
/******** POPULAIRES ********/
.populaires {
  width: 32%;
}
.populaires-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.populaires-cards .card {
  display: flex;
  margin-top: 33px;
}
.populaires-cards img {
  width: 33%;
  height: 136px;
  border-top-left-radius: 17px;
  border-bottom-left-radius: 17px;
}
.populaires-cards .card-content {
  width: 67%;
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.populaires-cards .card-title {
  margin-top: 10px;
  margin-bottom: 4px;
}
.populaires-cards .card-subtitle {
  margin: 0;
}
.populaires-cards .card-rating {
  margin-bottom: 5px;
}

/************************************
  ACTIVITÉS
*************************************/
.activites {
  display: flex;
  flex-direction: column;
  margin: 0 20px 0 20px;
}
.activites-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-items: stretch;
}
.activites-cards .card {
  flex: 1 1 0;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  overflow: hidden;
  box-sizing: border-box;
  padding: 0;
}
.activites-cards .card img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}
.activites-cards .card .card-content {
  padding: 20px;
}

/************************************
  FOOTER
*************************************/
.footer {
  display: flex;
  width: 100%;
  margin-top: 40px;
  justify-content: space-between;
  background-color: var(--main-bg-color);
}
.footer-column {
  flex: 1;
  padding: 10px 30px;
  box-sizing: border-box;
}
.footer-column ul {
  list-style: none;
  padding: 0;
}
.footer-column li {
  margin-bottom: 10px;
}
.footer-column a {
  color: #333;
}
.footer-column a:hover {
  text-decoration: underline;
}

/****** RESPONSIVE ****************/

/****** TABLETTE ********/
@media (max-width: 1024px) {
  .hebergements-and-populaires {
    flex-direction: column;
  }

  .hebergements {
    width: 100%;
  }

  .populaires {
    width: 100%;
    margin-top: 50px;
  }

  .populaires-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .populaires-cards a {
    width: 30%;
  }

  .populaires-cards .card-title {
    font-size: 14px;
  }

  .populaires-cards .card-subtitle {
    font-size: 13px;
  }
  .activites {
    margin: 0;
  }
  .activites-cards {
    gap: 10px;
  }
  .activites-cards .card img {
    height: 220px;
    object-fit: cover;
  }

  h3.card-title {
    font-size: 14px;
  }
}

/****** MOBILE ********/
@media (max-width: 768px) {
  .main-container {
    padding: 0;
    margin: 0 auto;
  }

  nav {
    flex-direction: column;
  }

  nav img {
    margin: 0 auto;
    height: 25px;
  }

  nav ul {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  nav li {
    width: 50%;
    text-align: center;
    border-top: none;
    border-bottom: 3px solid var(--main-bg-color);
    padding: 0;
  }

  nav li:hover {
    border-bottom-color: var(--main-color);
    color: var(--main-color);
  }

  header {
    margin: 10px;
  }
  header h1 {
    font-size: 24px;
    margin-bottom: 10px;
    text-align: left;
  }

  header p {
    margin-bottom: 20px;
    text-align: left;
  }

  .search-form {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .search-bar {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 450px;
  }
  .search-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 15px 0 0 15px;
  }
  .btn-search {
    font-size: 0;
    width: 50px;
    height: 50px;
    border-radius: 15px;
    box-shadow: -2px 6px 16px 3px rgba(0, 0, 0, 0.2);
    background-color: var(--main-color);
    background-image: url("../img/search-white.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50%;
  }

  .search-bar input {
    width: 60%;
    min-width: 180px;
  }

  .filters-title {
    width: 100%;
    text-align: left;
  }
  .filters {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }
  .filters-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    width: 100%;
  }

  .filter-btn {
    flex: 1 1 calc(50% - 15px);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 10px;
  }

  .info {
    margin-top: 20px;
  }

  .hebergements-and-populaires {
    flex-direction: column-reverse;
  }
  .hebergements-and-populaires section {
    border-radius: 0;
  }
  .hebergements-and-populaires section:first-child {
    background-color: transparent;
  }
  .populaires {
    width: 100%;
    margin-top: 0;
  }
  .populaires-cards {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .populaires-cards a {
    width: 90%;
  }
  .hebergements-cards {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .hebergements-cards .card img {
    height: 180px;
    object-fit: cover;
  }
  .activites {
    margin: 0 30px 0 30px;
  }
  .activites-cards {
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 20px;
  }
  .activites-cards .card {
    width: 100%;
    flex: none;
  }
  .activites-cards .card img {
    height: 190px;
    object-fit: cover;
  }

  footer {
    flex-direction: column;
    align-items: left;
    text-align: center;
  }
  .footer-column {
    padding: 10px 0;
    text-align: left;
    margin-left: 30px;
  }
}
